[Desktop Entry]
Name=Ultimate Cus
X-KDE-PluginInfo-Author=Gionikva
X-KDE-PluginInfo-Category=Window Decoration
X-KDE-PluginInfo-Depends=fish,yad
X-KDE-PluginInfo-Email=gionikva.2014@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-Name=Ultimate-Cus
X-KDE-PluginInfo-Version=1.0
