[Desktop Entry]
Name=Ultimate Cus
X-KDE-PluginInfo-Author=Fackra2020
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=fackra2020@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-Name=Ultimate-Cus
X-KDE-PluginInfo-Version=1.0
